.App {
  font-family: sans-serif;
  text-align: center;

  margin: 2rem;
}

#btn-submit {
  margin-left: 2rem;
}

.course-input {
  border: 1px solid red;
  width: 20%;
}
.courseInfo {
  margin-top: 2rem;
  width: 500px;
}
